<!DOCTYPE html>
<html  ng-app="basicApp">
<head>
	<title>5 stars</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<h2>
	5 star Project #Completed
</h2>
<br>
<br>

<div class="container" ng-controller="HomeController">
	<form class="form-horizontal col-md-8">
		<div>
			<label>Name</label>
			<input type="text" ng-model="name" class="form-control">
		</div>
		<div>
			<label>Level</label>
			<input type="text" ng-model="level" class="form-control">
		</div>
		<div>
			<label>Department</label>
			<input type="text" ng-model="department" class="form-control">
		</div>
		<div>
			<label>Reg Number</label>
			<input type="text" ng-model="regNum" class="form-control">
		</div>
		<div>
			<label>Matric Num</label>
			<input type="text" ng-model="matNum" class="form-control">
		</div>
		<div>
			<button class="btn btn-success" ng-click="submit()">Submit</button>
		</div>

	</form>
</div>


<script src="node_modules/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>